#StartPage {
  width: 100%;
  height: 100%;
  position: relative;
}

#StartPage #Logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#StartPage #GoSelectCharId {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#StartPage #RankedId {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#StartPage #QuitGameId {
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.StartBtn {
  font-size: large;
  width: 400px;
  height: 70px;
}

/* 여기서부턴 캐릭터 선택 */
