.StartPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;

  width: 1200px;
  height: 700px;
  border: 2px solid green;
}

.StartPage .StartBtnList {
  display: flex;
  width: 1000px;
  height: 300px;
  border: 2px solid red;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.StartPage .Logo {
}

.StartPage .GoSelectCharId {
}

.StartPage .QuitGameId {
}

.StartPage .RankedId {
}

.StartBtn {
  font-size: large;
  width: 400px;
  height: 70px;
}

/* 여기서부턴 캐릭터 선택 */
