.SettingSpace {
  width: 300px;
  height: 100%;
  /* background-image: url("../../../public/images/ui/panel.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%, 100%;
  /* border: 2px solid gold; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.BackIcon {
  position: absolute;
  background: url("../../../public/images/ui/backicon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  width: 30px;
  height: 30px;
  left: 2px;
  top: 2px;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}
.BackIcon:active {
  background: url("../../../public/images/ui/backiconclick.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}
.CanIcon {
  background: url("../../../public/images/canicon.png") no-repeat center;
  background-size: 50px 70px;
  position: absolute;
  /* overflow: hidden; */
  width: 50px;
  height: 50px;
  right: 5px;
  top: 5px;
  /* border: 2px solid wheat; */
}
.CanCount {
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
  color: yellow;
  position: absolute;
  left: 15%;
  bottom: -2px;
  font-size: 20px;
}
.BuyBtn {
  position: absolute;
  width: 200px;
  height: 60px;
  font-family: "KenneyBlocks";
  font-size: x-large;
  color: white;
  top: 34%;
  z-index: 1;
  background: url("../../../public/images/ui/Buycanbtn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}

.BuyBtn:active {
  background: url("../../../public/images/ui/Buycanbtnclick.png") no-repeat
    center;
  color: gray;
  background-size: contain;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}

.CharSpace {
  width: 300px;
  height: 70%;
  /* border: 2px solid cyan; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ContentName {
  font-size: x-large;
  text-align: center;
  line-height: 30px;
  color: white;
  width: 150px;
  height: 30px;
  /* border: 2px solid black; */
}

.ChoiceCharBox {
  width: 300px;
  height: 180px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.CharLeftBtn {
  background: url("../../../public/images/ui/left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  width: 30px;
  height: 40px;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}
.CharLeftBtn:active {
  background: url("../../../public/images/ui/gleft.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}
.CharRightBtn {
  background: url("../../../public/images/ui/right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  width: 30px;
  height: 40px;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}
.CharRightBtn:active {
  background: url("../../../public/images/ui/gright.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}
.Slide {
  width: 190px;
  height: 160px;
  /* border: 2px solid blue; */
  overflow: hidden;
  position: relative;
}
.SlideList {
  display: flex;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  transition: left 0.5s ease-out;
  /* border: 2px solid sandybrown; */
}

.CharTemp {
  width: 190px;
  height: 190px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.CharImg {
  width: 120px;
  height: 120px;
}
.CharName {
  text-align: center;
  color: white;
  font-size: 14px;
}

.OtherBtn {
  width: 260px;
  height: 30%;
  /* border: 2px solid greenyellow; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.LevelBtn {
  width: 130px;
  height: 40px;
  font-family: "KenneyBlocks";
  text-align: center;
  justify-content: center;
  font-size: large;
  color: white;
  border: none;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}

.GameStartBtn {
  width: 180px;
  height: 50px;
  font-family: "KenneyBlocks";
  text-align: center;
  color: white;
  font-size: large;
  background: url("../../../public/images/ui/GameStartBtn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}
.GameStartBtn:active {
  background: url("../../../public/images/ui/GameStartBtnclick.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}
.GameStartBtn:disabled {
  background: url("../../../public/images/ui/disabledbtn.png");
  color: gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}

.cartoonspace {
  /* overflow: hidden; */
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  /* background: url("../../../public/images/cartoon/1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  /* border: 4px solid black; */
}

.page {
  /* background: url("../../../public/images/cartoon/1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none; */
  width: 100%;
  height: 100%;
}

.leftpagebtn {
  background: url("../../../public/images/ui/left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  width: 30px;
  height: 40px;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
  position: absolute;
  top: 50%;
  left: 11%;
  transform: translateX(-50%) translateY(-50%);
}
.leftpagebtn:active {
  background: url("../../../public/images/ui/gleft.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}

.rightpagebtn {
  background: url("../../../public/images/ui/right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  width: 30px;
  height: 40px;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
  position: absolute;
  top: 50%;
  right: 9%;
  transform: translateX(-50%) translateY(-50%);
}
.rightpagebtn:active {
  background: url("../../../public/images/ui/gright.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}

.storycheck {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 4%;
  left: 9%;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}

.storytext {
  position: absolute;
  left: 20px;
  bottom: 0px;
  font-size: small;
  color: white;
  font-weight: bold;
}
