.pin {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 200px;
  height: 60px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  /* border: 2px solid black; */
  background: url("../../../public/images/ui/Pinspace.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  font-weight: bold;
  font-family: "KenneyBlocks";
  font-size: x-large;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}

.pin:hover {
  background: url("../../../public/images/ui/Pinspace_act.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}

.pinModal {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  line-height: 30px;
  top: 110px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 20px;
  left: -50px;
  width: 200px;
  height: 200px;
  z-index: 1;
  /* background-color: aqua; */
}

.backBtn {
  width: 70px;
  height: 70px;
  background: url("../../../public/images/ui/homeicon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  /* border: 2px solid blue; */
}

.reBtn {
  width: 120px;
  height: 120px;
  background: url("../../../public/images/ui/restart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;

  margin-bottom: 40px;
  /* border: 2px solid blue; */
}
.reBtn:hover {
  animation: rotate_image 6s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.showscore {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 240px;
  height: 50px;
  /* border: 2px solid white; */
  color: white;
  font-weight: bold;
  font-family: "KenneyBlocks";
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.showTurn {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 240px;
  height: 50px;
  /* border: 2px solid white; */
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-weight: bold;
  font-family: "KenneyBlocks";
  font-size: 50px;
  text-align: center;
  line-height: 50px;
}

.lifeContainer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 70px;
  right: 10px;
  width: 400px;
  height: 80px;
}

.lifeContainer2 {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 30px;
  right: 10px;
  width: 400px;
  height: 80px;
}

.buttonContainer > div {
  text-align: center;
  line-height: 50px;
  /* width: 200px;
  height: 50px; */
}

.textContainer {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 200px;
  height: 100px;
  z-index: 1;
  background-color: blueviolet;
}

.textContainer > div {
  text-align: center;
  line-height: 50px;
  width: 200;
  height: 50px;
}

.rankingpanel {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  background: url("../../../public/images/ui/makerankingpanel.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  height: 200px;
  /* border: 6px solid red; */
  /* background-color: gray; */
}
.resultpanel {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  background: url("../../../public/images/ui/makerankingpanel.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  height: 200px;
}
.inputspace {
  width: 200px;
  height: 30px;
  border: 5px solid rgb(95, 151, 241);
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
}
.inputspace:focus {
  outline: none;
}

.scorespace {
  font-size: 40px;
  font-weight: bold;
  font-family: "KenneyBlocks";
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  /* border: 2px solid red; */
}

.submitspace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  /* border: 5px solid red */
}
.submitbtn {
  margin-left: 35px;
  margin-right: 35px;
  width: 100px;
  height: 50px;
  font-weight: bold;
  font-size: medium;
  font-family: "neodgm";
  background: url("../../../public/images/ui/GameStartBtn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  color: white;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}
.submitbtn:active {
  background: url("../../../public/images/ui/GameStartBtnclick.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: url("../../../public/images/cursor/mouseSelect.png"), pointer;
}

.selectarea {
  outline: none;
  background: url("../../../public/images/ui/GameStartBtn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  font-family: "neodgm";
  font-weight: bold;
  width: 70px;
  height: 40px;
  position: absolute;
  left: 15px;
  top: 45%;
  color: white;
}
.opt {
  background-color: rgb(81, 122, 255);
}

#toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  padding: 15px 20px;
  transform: translate(-50%, 10px);
  border-radius: 30px;
  overflow: hidden;
  font-size: 0.8rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  z-index: 10000;
}

#toast.reveal {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

.Catch2Gameover {
  width: 250px;
  height: 100px;
  background: url("../../../public/images/ui/gameover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}

.Catch2Gameclear {
  width: 250px;
  height: 100px;
  background: url("../../../public/images/ui/Gameclear.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}
