html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "neodgm";
  cursor: url("../../../public/images/cursor/mouseNone.png"), pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#app {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "neodgm";
  src: url("../../../public/fonts/neodgm.woff");
  font-weight: normal;
}
@font-face {
  font-family: "KenneyBlocks";
  src: url("../../../public/fonts/KenneyMiniSquareMono.ttf");
  font-weight: normal;
}
