.StartPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;

  width: 1200px;
  height: 700px;
  position: relative;
  /* border: 2px solid green; */
}

.StartPage .AllBtnList {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 1000px;
  height: 300px;
  /* border: 2px solid red; */
}
.StartPage .StartBtnList {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.StartPage .Logo {
}

.StartPage .GoSelectCharId {
}

.StartPage .QuitGameId {
}

.StartPage .RankedId {
}

.StartBtn {
  background: url("../../../public/images/ui/button_1.png") center no-repeat;
  font-size: x-large;
  width: 260px;
  height: 70px;
  border: none;
  /* color: white; */
}

/* 여기서부턴 캐릭터 선택 */
